[user]
	name = Deluan

[push]
	default = simple

[alias]
	st = status
	co = checkout
	ci = commit
	pr = pull --rebase
	lg = log --oneline
	ll = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat
	ls = log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate
	who = "!f() { user=`git config user.name`; email=`git config user.email`; echo \"$user <$email>\"; }; f"
	undo-last-commit = reset --soft 'HEAD^'
	undo-last-commit-hard = reset --hard 'HEAD^'
	serve = daemon --reuseaddr --base-path=. --export-all --verbose
	alias = config --get-regexp ^alias\\.
	bdiff = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	out = log origin/master..HEAD

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[core]
	filemode = false
	autocrlf = input
	excludesfile = /Users/deluan/.gitignore_global
